*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d1117;
    color: #fff;
    overflow: hidden;
}
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.item {
    background-color: #161b22;
    padding: 30px;
    border-radius: 10px;
    margin-left: 80px ;
    width: 500px;
    transform: translateY(-50%);
}
.item:last-child{
    margin-right: 80px ;
}
.item h1 {
    margin-bottom: 20px;
}
.item p {
    margin-bottom: 30px;
    font-size: 18px;
    white-space: normal;
}
.item a {
    text-decoration: none;
    color: royalblue;
    text-transform: uppercase;
    background-color: #2f3948;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 4px;
}